<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sistema de Entregas</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="vendors/iconfonts/ionicons/dist/css/ionicons.css">
    <link rel="stylesheet" href="vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="css/demo_1/style.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="images/favicon.ico" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
            <a class="navbar-brand brand-logo" th:href="@{/dashboard}">
                ExpressDelivery </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
          <form class="ml-auto search-form d-none d-md-block" action="#">
            <div class="form-group">
              <a>Welcome Admin!</a>
            </div>
          </form>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="profile-image">
                  <img class="img-xs rounded-circle" src="images/faces/face8.jpg" alt="profile image">
                  <div class="dot-indicator bg-success"></div>
                </div>
                <div class="text-wrapper">
                  <p class="profile-name">Admin</p>
                  <p class="designation">Administrator Control Panel</p>
                </div>
              </a>
            </li>
            <li class="nav-item nav-category">Main Menu</li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/dashboard}">
                    <i class="menu-icon typcn typcn-document-text"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
                <a class="nav-link" th:href="@{/deliveries}">
                    <i class="menu-icon typcn typcn-document-text"></i>
                    <span class="menu-title">Deliveries</span>
                </a>
                <a class="nav-link" th:href="@{/profiles}">
                  <i class="menu-icon typcn typcn-document-text"></i>
                  <span class="menu-title">Riders</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-5 col-5 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <span class="h4">Deliveries Statistics</span>
                    <br>
                    <table class="table">
                      <thead>
                        <div class="row">
                          <div class="col-sm-4">
                            <span class="h7"><b>Number of Deliveries Today</b></span>
                          </div>
                          <div class="col-sm-3">
                            <span class="h7"><b>Average Ratings of Riders</b></span>
                          </div>
                        </div>
                      </thead>
                      <tbody>
                          <hr>
                          <div class="row">
                            <div class="col-sm-4">
                              <span class="h8" th:text="${deliveriesPerDay}"></span>
                            </div>
                            <div class="col-sm-3">
                              <span class="h8" th:text="${averageRatingRiders}"></span>
                          </div>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-md-7 col-7 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <span class="h4">Orders Statistics</span>
                    <br>
                    <table class="table">
                      <thead>
                        <div class="row">
                          <div class="col-sm-3">
                            <span class="h7"><b>Number of Total Orders</b></span>
                          </div>
                          <div class="col-sm-3">
                            <span class="h7"><b>Number of CREATED Orders</b></span>
                          </div>
                          <div class="col-sm-3">
                            <span class="h7"><b>Number of PICKED UP Orders</b></span>
                          </div>
                          <div class="col-sm-3">
                            <span class="h7"><b>Number of DELIVERED Orders</b></span>
                          </div>
                        </div>
                      </thead>
                      <tbody>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <span class="h8" th:text="${ordersTotal}"></span>
                            </div>
                            <div class="col-sm-3">
                              <span class="h8" th:text="${ordersCREATED}"></span>
                            </div>
                            <div class="col-sm-3">
                              <span class="h8" th:text="${ordersPICKEDUP}"></span>
                            </div>
                            <div class="col-sm-3">
                              <span class="h8" th:text="${ordersDELIVERED}"></span>
                          </div>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <span class="h4">Performance</span>
                    <br>
                    <table class="table">
                      <thead>
                        <div class="row">
                          <div class="col-sm-1">
                            <span class="h7"><b>ID</b></span>
                          </div>
                          <div class="col-sm-3">
                            <span class="h7"><b>Name</b></span>
                          </div>
                          <div class="col-sm-2">
                            <span class="h7"><b>Ratings</b></span>
                          </div>
                          <div class="col-sm-2">
                            <span class="h7"><b>Available</b></span>
                          </div>
                        </div>
                      </thead>
                      <tbody>
                        <th:block th:each="Estafeta : ${RidersList}">
                          <hr>
                          <div class="row">
                            <div class="col-sm-1">
                              <span class="h8" th:text="${Estafeta.id}"></span>
                            </div>
                            <div class="col-sm-3">
                              <span id="ridername" class="h8" th:text="${Estafeta.name}"></span>
                            </div>
                            <div class="col-sm-2">
                              <span class="h8" th:text="${Estafeta.ratingsAverage}"></span> 
                            </div>
                            <div class="col-sm-2">
                              <span class="h8" th:text="${Estafeta.available}"></span>
                            </div>
                          </div>
                        </th:block>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <script src="vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="js/shared/off-canvas.js"></script>
    <script src="js/shared/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="js/demo_1/dashboard.js"></script>
    <!-- End custom js for this page-->
    <script src="js/shared/jquery.cookie.js" type="text/javascript"></script>
  </body>
</html>