<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sistema de Entregas</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="vendors/iconfonts/ionicons/dist/css/ionicons.css">
    <link rel="stylesheet" href="vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="css/demo_1/style.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="images/favicon.ico" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
            <a class="navbar-brand brand-logo" href="entrega.html">
                Sistema de Entregas </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
          <form class="ml-auto search-form d-none d-md-block" action="#">
            <div class="form-group">
              <input type="search" class="form-control" placeholder="Search Here">
            </div>
          </form>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-bell-outline"></i>
                <span class="count">7</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="messageDropdown">
                <a class="dropdown-item py-3">
                  <p class="mb-0 font-weight-medium float-left">You have 7 unread mails </p>
                  <span class="badge badge-pill badge-primary float-right">View all</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="images/faces/face10.jpg" alt="image" class="img-sm profile-pic">
                  </div>
                  <div class="preview-item-content flex-grow py-2">
                    <p class="preview-subject ellipsis font-weight-medium text-dark">Marian Garner </p>
                    <p class="font-weight-light small-text"> The meeting is cancelled </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="images/faces/face12.jpg" alt="image" class="img-sm profile-pic">
                  </div>
                  <div class="preview-item-content flex-grow py-2">
                    <p class="preview-subject ellipsis font-weight-medium text-dark">David Grey </p>
                    <p class="font-weight-light small-text"> The meeting is cancelled </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="assets/images/faces/face1.jpg" alt="image" class="img-sm profile-pic">
                  </div>
                  <div class="preview-item-content flex-grow py-2">
                    <p class="preview-subject ellipsis font-weight-medium text-dark">Travis Jenkins </p>
                    <p class="font-weight-light small-text"> The meeting is cancelled </p>
                  </div>
                </a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-toggle="dropdown">
                <i class="mdi mdi-email-outline"></i>
                <span class="count bg-success">3</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="notificationDropdown">
                <a class="dropdown-item py-3 border-bottom">
                  <p class="mb-0 font-weight-medium float-left">You have 4 new notifications </p>
                  <span class="badge badge-pill badge-primary float-right">View all</span>
                </a>
                <a class="dropdown-item preview-item py-3">
                  <div class="preview-thumbnail">
                    <i class="mdi mdi-alert m-auto text-primary"></i>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal text-dark mb-1">Application Error</h6>
                    <p class="font-weight-light small-text mb-0"> Just now </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item py-3">
                  <div class="preview-thumbnail">
                    <i class="mdi mdi-settings m-auto text-primary"></i>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal text-dark mb-1">Settings</h6>
                    <p class="font-weight-light small-text mb-0"> Private message </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item py-3">
                  <div class="preview-thumbnail">
                    <i class="mdi mdi-airballoon m-auto text-primary"></i>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal text-dark mb-1">New user registration</h6>
                    <p class="font-weight-light small-text mb-0"> 2 days ago </p>
                  </div>
                </a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="profile-image">
                  <img class="img-xs rounded-circle" src="images/faces/face8.jpg" alt="profile image">
                  <div class="dot-indicator bg-success"></div>
                </div>
                <div class="text-wrapper">
                  <p class="profile-name">Tiago Carteiro</p>
                  <p class="designation">Admin</p>
                </div>
              </a>
            </li>
            <li class="nav-item nav-category">Main Menu</li>
            <li class="nav-item">
                <a class="nav-link" href="EstafetasPerformance.html">
                    <i class="menu-icon typcn typcn-document-text"></i>
                    <span class="menu-title">Performance dos Estafetas</span>
                </a>
                <a class="nav-link" href="Estatisticas.html">
                    <i class="menu-icon typcn typcn-document-text"></i>
                    <span class="menu-title">Estatísticas</span>
                </a>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Estafetas</h4>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Nome</th>
                          <th>Nº Licença.</th>
                          <th>Na empresa desde</th>
                          <th>Estado</th>
                        </tr>
                      </thead>
                      <tbody>
                        <th:block th:each="Estafeta : ${RidersList}">
                          <div class="row">
                            <div class="col-sm">
                              <span class="h4" th:text="${Estafeta.name}"></span>
                            </div>
                            <div class="col-sm">
                              <span class="h4" th:text="${Estafeta.phone_number}"></span>
                            </div>
                            <div class="col-sm">
                              <span class="h4" th:text="${Estafeta.email}"></span>
                            </div>
                            <div class="col-sm">
                              <span class="h4" th:text="${Estafeta.available}"></span>
                            </div>
                          </div>
                        </th:block>

                        <!-- <tr>
                          <td>Mário Jam</td>
                          <td>53275531</td>
                          <td>12 Maio 2017</td>
                          <td>
                            <label class="badge badge-danger">Ocupado</label>
                          </td>
                        </tr>
                        <tr>
                          <td>Poste Malone</td>
                          <td>53275532</td>
                          <td>15 Abril 2019</td>
                          <td>
                            <label class="badge badge-danger">Ocupado</label>
                          </td>
                        </tr>
                        <tr>
                          <td>Rui Costa</td>
                          <td>53275533</td>
                          <td>09 Maio 2009</td>
                          <td>
                            <label class="badge badge-danger">Ocupado</label>
                          </td>
                        </tr>
                        <tr>
                          <td>Jorge Jesus</td>
                          <td>53275534</td>
                          <td>26 Outubro 2001</td>
                          <td>
                            <label class="badge badge-success">Livre</label>
                          </td>
                        </tr>
                        <tr>
                          <td>Rogério Schmidite</td>
                          <td>53275535</td>
                          <td>25 Maio 2022</td>
                          <td>
                            <label class="badge badge-success">Livre</label>
                          </td>
                        </tr> -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Ranking dos Estafetas</h4>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Nome</th>
                          <th>Nº Licença</th>
                          <th>Rating</th>
                          <th>Estado</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Mário Jam</td>
                          <td>53275531</td>
                          <td class="text-success"> 8.76% <i class="mdi mdi-arrow-up"></i>
                          </td>
                          <td>
                            <label class="badge badge-danger">Ocupado</label>
                          </td>
                        </tr>
                        <tr>
                            <td>Poste Malone</td>
                            <td>53275532</td>
                          <td class="text-danger"> 1.06% <i class="mdi mdi-arrow-down"></i>
                          </td>
                          <td>
                            <label class="badge badge-danger">Ocupado</label>
                          </td>
                        </tr>
                        <tr>
                            <td>Rui Costa</td>
                            <td>53275533</td>
                          <td class="text-success"> 15.00% <i class="mdi mdi-arrow-up"></i>
                          </td>
                          <td>
                            <label class="badge badge-danger">Ocupado</label>
                          </td>
                        </tr>
                        <tr>
                            <td>Jorge Jesus</td>
                            <td>53275534</td>
                          <td class="text-success"> 2.00% <i class="mdi mdi-arrow-up"></i>
                          </td>
                          <td>
                            <label class="badge badge-success">Livre</label>
                          </td>
                        </tr>
                        <tr>
                            <td>Rogério Schmidite</td>
                            <td>53275535</td>
                          <td class="text-danger"> 8.05% <i class="mdi mdi-arrow-down"></i>
                          </td>
                          <td>
                            <label class="badge badge-success">Livre</label>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <script src="vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="js/shared/off-canvas.js"></script>
    <script src="js/shared/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="js/demo_1/dashboard.js"></script>
    <!-- End custom js for this page-->
    <script src="js/shared/jquery.cookie.js" type="text/javascript"></script>
  </body>
</html>